page-login {
    .logo{
        margin: 0 auto;
        display: block;
    }
    ion-card ion-row{
        padding: 10px;
        float:right;

        div button:nth-of-type(1){
            margin-right: 10px;
        }
    }

    .getstart{
        // background-image: url('../../assets/imgs/cover.jpg');
        background-repeat: no-repeat;
        background-color: #013220;
        background-size:cover;
        // filter: blur(8px);
        // -webkit-filter: blur(8px);
    }

    .item.item-trns {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: white; 
    }

    .icon{
        margin: 13px 8px;
        padding-top: 3px;
        }

    .input{
        // background-color:white;
    }

    ion-content {
        .scroll-content { 
            background-color:  #013220
        }
    }

    .item {
        background-color:  #013220
    }

    .logo{
        font-size: 25vh;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    h1, h6 {
        color: white;
        font-size: 1em;
    }

    .rowStyle {
        background-color: white;
        padding-left: 10px;
        border-radius: 30px;
        margin-top: 10px;

        ion-icon {
            margin-top: 13px;
            margin-right: 10px;
        }
    }
}
