<ion-header>

  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-label>Trying </ion-label>
          <ion-datetime picker ></ion-datetime>
        </ion-item>
      </ion-list>
  <form
    [formGroup]='form'
    (ngSubmit)='saveDocument(form.value)'>

    <ion-item>
      <ion-label stacked>What will you be teaching?:</ion-label>
      <ion-input
        type='text'
        formControlName='city'
        [(ngModel)]='city'>
      </ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Start Time:</ion-label>
      <ion-datetime picker displayFormat="DD MMM , YYYY HH:mm"[min]="myDate" max="2020-10-31"  formControlName='StartDate'  ></ion-datetime>
    </ion-item>
    
    <ion-item>
        <ion-label stacked>End Time:</ion-label>
      <ion-datetime picker displayFormat="DD MMM , YYYY HH:mm" [min]="myDate" max="2020-10-31"  formControlName='EndDate' ></ion-datetime>
    </ion-item>
    
    

    <ion-item>
       <ion-label stacked>Description of Activites:</ion-label>
       <ion-input
          type="text"
          formControlName="population"
          [(ngModel)]="population"></ion-input>
 	  </ion-item>

    <ion-item>
       <ion-label stacked>Items to Bring:</ion-label>
       <ion-input
          type="text"
          formControlName="established"
          [(ngModel)]="established"></ion-input>
 	  </ion-item>

 	  <ion-item>
       <button
         ion-button
         block
         color="primary"
         text-center
         padding-top
         padding-bottom
         [disabled]="!form.valid">
          <div *ngIf="!isEditable">
             Add a new document
          </div>

          <div *ngIf="isEditable">
             Update this document
          </div>
          </button>
 	  </ion-item>

  </form>
  
</ion-content>