<ion-header>

  <ion-navbar color = "dark">
    <ion-title>Add an Event</ion-title>
  </ion-navbar>
 
  </ion-header>


<ion-content padding style="background-color: #F29559;">
  <ion-row margin class="rowStyle" *ngIf="image">
    <ion-card class="round-corners">
      <img [src]="image" class="round-corners">
    </ion-card>
  </ion-row>
  <button ion-button full round color="dark" (click) = "addPhoto()">Add</button>
  <ion-list>
    <div class="item" ion-datetime-picker ng-model="datetimeValue">
      <!-- {{datetimeValue| date: "yyyy-MM-dd H:mm:ss"}} -->
    </div>
  </ion-list>



  



  <form
    [formGroup]='form'
    (ngSubmit)='saveDocument(form.value)'>

    <ion-item>
      <ion-label stacked>What will you be teaching?:</ion-label>
      <ion-input
        type='text'
        formControlName='city'
        [(ngModel)]='city'>
      </ion-input>
    </ion-item>

    <ion-item >
        <ion-label stacked>Enter the Date of Your Event</ion-label>
        <ion-input 
        type="text" 
        
        displayFormat="DD MMM , YYYY HH:mm" 
        (click)='openCalendar()'
        [(ngModel)]="this.starting"
        formControlName='StartDate'
        >
      </ion-input>

      <ion-item >
          <ion-label stacked>Enter the Date of Your Event</ion-label>
          <ion-input 
          type="text" 
          hidden
          displayFormat="DD MMM , YYYY HH:mm" 
          (click)='openCalendar()'
          [(ngModel)]="this.start"
          formControlName='OfficialStartDate'
          >
        </ion-input>
      </ion-item>
      <!-- <ion-label stacked>What will you be teaching?:</ion-label>
   
      <ion-calendar 
    formControlName='StartDate'
    [(ngModel)]="dateRange"
    [options]="optionsRange"
    [type]="type"
    [format]="'YYYY-MM-DD'" ngDefaultControl >
   
  </ion-calendar> -->
</ion-item>

<ion-item >
  <ion-input 
  type="text" 
  
  displayFormat="DD MMM , YYYY HH:mm" 

  [(ngModel)]="this.ending"
  formControlName='EndDate'
  >
</ion-input>
</ion-item>

    
    <ion-item>
        <ion-label stacked>Start Time:</ion-label>
      <ion-datetime picker displayFormat="HH:mm"  formControlName='StartTime'  ></ion-datetime>
    </ion-item>
    
    <ion-item>
        <ion-label stacked>End Time:</ion-label>
      <ion-datetime picker displayFormat="HH:mm"   formControlName='EndTime' ></ion-datetime>
    </ion-item>
    
    <!-- <ion-item>
      <ion-label>Time Start:</ion-label>
    <ion-datetime displayFormat="HH:mm"  >
  </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Time End:</ion-label>
    <ion-datetime displayFormat="HH:mm"   >
  </ion-datetime>
    </ion-item> -->
    
    <ion-item>
       <ion-label stacked>Description of Activites:</ion-label>
       <ion-input
          type="text"
          formControlName="population"
          [(ngModel)]="population"></ion-input>
     </ion-item>
     
     <ion-item>
      <ion-label stacked>Location of Activites:</ion-label>
      <ion-input
         type="text"
         formControlName="location"
         [(ngModel)]="location"></ion-input>
    </ion-item>

    <ion-item>
       <ion-label stacked>Items to Bring:</ion-label>
       <ion-input
          type="text"
          formControlName="established"
          [(ngModel)]="established"></ion-input>
 	  </ion-item>

 	  <ion-item>
       <button
         ion-button
         block
         color="primary"
         text-center
         padding-top
         padding-bottom
         [disabled]="!form.valid">
          <div *ngIf="!isEditable">
             Add Event
          </div>

          <div *ngIf="isEditable">
             Update this document
          </div>
          </button>
 	  </ion-item>

  </form>

  
</ion-content>