<!-- <ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <app-register-form (registerStatus)="register($event)"></app-register-form>

</ion-content> -->

<ion-header>
    <ion-navbar  color = "dark">
    </ion-navbar>
  </ion-header>
  
  <ion-content padding >
    
      
    <ion-icon name="person" class="logo" color="dark" (click)="addPhoto()"  *ngIf="!image" style = "margin-left :30%; margin-top: 20px;"></ion-icon>
        
  
  
    
      <h3 text-center>Click on the icon to change <br> your profile picture</h3>
     
    
  
    <ion-grid style="width: 75%;">
  
      <!-- <button ion-button icon-only color="light" clear (click)="addPhoto()">
        <ion-icon name="images"></ion-icon>
      </button> -->
      <ion-row margin class="rowStyle" *ngIf="image">
        <ion-card class="round-corners">
          <img [src]="image" class="round-corners">
        </ion-card>
      </ion-row>
      
  
     
      
      <ion-row class="rowStyle">
        <ion-icon name="person" color="dark"></ion-icon>
        <ion-input type="text" placeholder="your name" [(ngModel)]="name"></ion-input>
      </ion-row>
  
    
      
      <ion-row>
        <button ion-button block round color="dark" style="margin-top: 20px;" (click)="change()">Change Your Profile!!</button>
      </ion-row>
  
  
      
  
     
  
    </ion-grid>
  
   
  
  
  </ion-content>