<ion-header color = "dark">
  <ion-navbar color = "dark">
    <ion-row>
      <ion-avatar item-start (click)="update()">
          <img [src] = "profilepic">
        </ion-avatar>
    <ion-title text-center>Inbox</ion-title>
    <ion-buttons end> 
      <!-- <button ion-button icon-only (click)="addRoom()">
        <ion-icon name="add-circle"></ion-icon>
      </button> -->
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only clear (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-row>
  </ion-navbar>

</ion-header>

<ion-content padding style="background-color: #F29559;">

  <!-- <ion-avatar>
    <img src= "data:image/*;base64,{{profilepic}}">
  </ion-avatar> -->
  <ion-list>
    <ion-item-sliding *ngFor="let room of rooms" style="    
    margin-bottom: 20px; background-color: white;     border-radius: 15px;
">
    <ion-item (click)="joinRoom(room.id)" style="    
    margin-bottom: 20px; background-color: white;     border-radius: 15px;
">
      <h2 *ngIf="displayname === room.user1name; else alternate">{{room.user2name}}</h2>
    <ng-template #alternate >{{room.user1name}}</ng-template>
  
        <!-- <img [src]="room."> -->
    
    <h4>{{room.name}}: {{room.lastmessage}}</h4>
      <!-- <ion-icon color = "primary" name="chatboxes" item-end (click)="joinRoom(room.id)"></ion-icon> -->
    </ion-item>
    <ion-item-options  side="right">
      

      <button
        ion-button
        color='danger'
        (click)="deleteDocument(room)" >
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
      </ion-item-options>
    
    </ion-item-sliding>
  </ion-list>
</ion-content>
