<ion-header >
  <ion-navbar >
    <ion-row>
      <ion-avatar item-start (click)="update()">
          <img [src] = "profilepic">
        </ion-avatar>
    <ion-title text-center>Inbox</ion-title>
    <ion-buttons end> 
      <!-- <button ion-button icon-only (click)="addRoom()">
        <ion-icon name="add-circle"></ion-icon>
      </button> -->
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only clear (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-row>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <!-- <ion-avatar>
    <img src= "data:image/*;base64,{{profilepic}}">
  </ion-avatar> -->
  <ion-list no-lines>
    <ion-item-sliding *ngFor="let room of rooms ;let i = index;"  [ngClass]="(i % 2 == 0) ? 'odd' : 'even' " style="    
    margin-bottom: 20px;     border-radius: 15px;-webkit-box-shadow: 1px 8px 16px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 8px 16px -6px rgba(0,0,0,0.75);
box-shadow: 1px 8px 16px -6px rgba(0,0,0,0.75); height: 100px;
">
    <ion-item (click)="joinRoom(room.id)" [ngClass]="(i % 2 == 0) ? 'odd' : 'even' " style="    
    margin-bottom: 20px;   border-radius: 15px;
"><ion-grid>
     <ion-row>
      <ion-col col-3 style="
      margin-right: 30px;
  ">
        <ion-avatar class ="imglist" slot="start"  *ngIf="uid === room.user1; else alternate2"><img style=" 
          width: 60px;
          height: 60px;
      " [src] = "room.user1display" style="
          width: 55px;
          height: 55px;
      "></ion-avatar>
    <ng-template #alternate2 ><ion-avatar><img [src] = "room.user2display" img style="
      width: 55px;
      height: 55px;
  "></ion-avatar></ng-template>
      </ion-col>
      <ion-col size = "6">
    <h1 *ngIf="displayname === room.user1name; else alternate">{{room.user2name}}</h1>
    <ng-template #alternate ><h1>{{room.user1name}}</h1></ng-template>
    <h2>{{room.name}}: {{room.lastmessage}}</h2>
      </ion-col> 
    </ion-row>
    </ion-grid>
    
    
        <!-- <img [src]="room."> -->
    
      <!-- <ion-icon color = "primary" name="chatboxes" item-end (click)="joinRoom(room.id)"></ion-icon> -->
    </ion-item>
    <ion-item-options  side="right">
      

      <button
        ion-button
        color='danger'
        (click)="deleteDocument(room)" >
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
      </ion-item-options>
    
    </ion-item-sliding>
  </ion-list>
</ion-content>
