<ion-header>
  <ion-navbar>
    <ion-title>
      Events Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <button
    ion-button
    block
    color='primary'
    (click)='addDocument()'>
    Add an Event
  </button>

  <ion-list>
    <ion-item-sliding *ngFor='let location of locations'>
        <ion-item>

      <h2>{{ location.city }}</h2>
      <p>
        <!-- StartDate: {{ location.StartDate.seconds * 1000 | date: 'EEEE, d MMMM, y, h:mm:ss a zzzz'}}<br> -->
        StartDate: {{ location.StartDate }}<br>
        EndDate: {{ location.EndDate }}<br>
        StartTime: {{ location.StartTime }}<br>
        EndTime: {{ location.EndTime }}<br>
        <!-- EndDate: {{ location.EndDate.seconds * 1000 | date: 'EEEE, d MMMM, y, h:mm:ss a zzzz'}}<br> -->
        Location: {{ location.location}}<br>
        Description: {{ location.population}}<br>
        Items to Bring: {{ location.established }}
      </p>
    </ion-item>
      <ion-item-options  side="right">
      <button
        ion-button
        color='secondary'
        (click)='updateDocument(location)' *ngIf="user_identification(location)">
        <ion-icon name="clipboard"></ion-icon>
        Update
      </button>

      <button
        ion-button
        color='danger'
        (click)="deleteDocument(location)" *ngIf="user_identification(location)">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
      <button
        ion-button
        color='secondary'
        (click)='signup_event(location)' *ngIf="user_identification_register(location)">
        <ion-icon name="ios-person-add"></ion-icon>
        Register
      </button>
    </ion-item-options>
    
    </ion-item-sliding>
  </ion-list>
  
</ion-content>
