<ion-header >
  <ion-navbar >
    <ion-title text-center>
      Events Page
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (click)="addDocument()">
        <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
 

  <ion-list class=“item-borderless” >
    <ion-item-sliding style="    
    margin-bottom: 20px;  border-radius: 15px;background-color: #077E6C;" 
    *ngFor='let location of locations' >
 
        <ion-item  no-lines style="background-color: #077E6C; padding-left:0px;">
          <ion-row style ="background-color: #077E6C;">
            <h6 style="margin-bottom: 20px;">{{location.StartDate}}</h6>
          </ion-row>
          <div ng-style="{'background-image': 'url('+location.image+')'}"></div>
          <ion-row>
            <ion-col col-3>
                
            </ion-col>

            <ion-col col-3>
                <h2>
                    {{ location.city }}  <br>    
                    {{ location.StartDate }} - {{ location.EndDate }}<br>       
                    {{ location.StartTime }} - {{ location.EndTime }}<br>
                    {{ location.location}}<br>
                    {{ location.population}}<br>
                    {{ location.established }}
                  </h2>
            </ion-col>
          </ion-row>
        <div class = "row">

            <div>
            
      
          
            </div>    
      <div>
        
    </div>
    </div> 
    </ion-item>
      <ion-item-options  side="right">
      <button
        ion-button
        color='secondary'
        (click)='updateDocument(location)' *ngIf="user_identification(location)">
        <ion-icon name="clipboard"></ion-icon>
        Update
      </button>

      <button
        ion-button
        color='danger'
        (click)="deleteDocument(location)" *ngIf="user_identification(location)">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>

      <button
      ion-button
      color='primary'
      (click)="view(location)" *ngIf="user_identification(location)">
      <ion-icon name="trash"></ion-icon>
      View<br>Attendees
    </button>

      <button
        ion-button
        color='secondary'
        (click)='signup_event(location)' *ngIf="user_identification_register(location)">
        <ion-icon name="ios-person-add"></ion-icon>
        Register
      </button>

      <button
      ion-button
      color='primary'
      (click)='chat(location)' *ngIf="user_identification_register(location)">
      <ion-icon name="ios-chatbubbles"></ion-icon>
      Chat
    </button>
    </ion-item-options>
    
    </ion-item-sliding>
  </ion-list>
  
</ion-content>
