<ion-header>
  <ion-navbar>
    <ion-title>
      Events Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button
    ion-button
    block
    color='primary'
    (click)='addDocument()'>
    Add an Event
  </button>

  <ion-list>
    <ion-item *ngFor='let location of locations'>
      <h2>{{ location.city }}</h2>
      <p>
        StartDate: {{ location.StartDate.seconds * 1000 | date: 'EEEE, d MMMM, y, h:mm:ss a zzzz'}}<br>
        EndDate: {{ location.EndDate.seconds * 1000 | date: 'EEEE, d MMMM, y, h:mm:ss a zzzz'}}<br>
        Population: {{ location.population}}<br>
        Established: {{ location.established }}
      </p>

      <button
        ion-button
        color='secondary'
        (click)='updateDocument(location)' *ngIf="user_identification(location)">
        Update this record
      </button>

      <button
        ion-button
        color='danger'
        (click)="deleteDocument(location)" *ngIf="user_identification(location)">
        Delete this record
      </button>
    </ion-item>
  </ion-list>
  
</ion-content>
