<ion-header color = "dark">

  <ion-navbar color="dark">
    <ion-title text-center >Q&A</ion-title>

    <ion-buttons end>
      <button ion-button icon-only clear (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #F29559;">

  <ion-row margin class="rowStyle" style="
  background-color: white;
  border-radius: 20px;
">
    <button ion-button icon-only color="dark" clear (click)="addPhoto()">
      <ion-icon name="images"></ion-icon>
    </button>

    <ion-input type="text" placeholder="Ask a Question..." [(ngModel)]="text"></ion-input>

    <button ion-button icon-only color="dark" clear (click)="post()">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-row>

  <ion-row margin class="rowStyle" *ngIf="image">
    <ion-card class="round-corners">
      <img [src]="image" class="round-corners">
    </ion-card>
  </ion-row>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-card *ngFor="let post of posts" style="
 
  border-radius: 10px;
">

    <!-- <ion-item-options  side="right">
      <button
        ion-button
        color='secondary'
        (click)='deleteDocument(post)' 
        >
        <ion-icon name="clipboard"></ion-icon>
        Delete
      </button>
      </ion-item-options> -->
    <ion-item-divider color="dark">

      {{ post.data().owner_name }} Says
      <ion-buttons end>
        <button ion-button icon-only clear (click)="deleteDocument(post)" *ngIf="user_identification(post)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item-divider>

    <ion-item text-wrap>
      {{ post.data().text }}
    </ion-item>

    <img [src]="post.data().image" *ngIf="post.data().image">

    <ion-row class="bottom-bar">
      <ion-col>
        <button ion-button block icon-left clear small color="dark" class="border-right" (click)="like(post)">
          <ion-icon name="thumbs-up"></ion-icon>
          <small>{{ post.data().likesCount || 0 }} Likes</small>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block icon-left clear small color="primary" class="border-right" (click)="comment(post)">
          <ion-icon name="text"></ion-icon>
          <small>{{ post.data().commentsCount || 0 }} Comments</small>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block icon-left clear small color="primary">
          <small>{{ ago(post.data().created.toDate()) }} ago</small>
        </button>
      </ion-col> 
      
      </ion-row>
     
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>