<ion-header style="background-color: #077E6C">

  <ion-navbar style="background-color: #077E6C">
    <ion-title text-center >Q&A</ion-title>

    <ion-buttons end>
      <button ion-button icon-only clear (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row margin class="rowStyle" style="
  background-color: white;
  border-radius: 20px; border-radius: 20px; -webkit-box-shadow: -15px 15px 16px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: -15px 15px 16px -19px rgba(0,0,0,0.75);
    box-shadow: -15px 15px 16px -19px rgba(0,0,0,0.75);
">
    <button ion-button icon-only style="color:  #077E6C;webkit-box-shadow: -15px 15px 16px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: -15px 15px 16px -19px rgba(0,0,0,0.75);
    box-shadow: -15px 15px 16px -19px rgba(0,0,0,0.75);" clear (click)="addPhoto()">
      <ion-icon name="images"></ion-icon>
    </button>

    <ion-input style ="-webkit-box-shadow: 13px 15px 16px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 15px 16px -19px rgba(0,0,0,0.75);
    box-shadow: 13px 15px 16px -19px rgba(0,0,0,0.75);" type="text" placeholder="Ask a Question..." [(ngModel)]="text"></ion-input>

    <button ion-button icon-only style ="color:  #077E6C; -webkit-box-shadow: 15px 12px 16px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 12px 16px -18px rgba(0,0,0,0.75);
    box-shadow: 15px 12px 16px -18px rgba(0,0,0,0.75);" clear (click)="post()">
      <ion-icon style ="-webkit-box-shadow: 15px 12px 16px -18px rgba(0,0,0,0.75);
      -moz-box-shadow: 15px 12px 16px -18px rgba(0,0,0,0.75);
      box-shadow: 15px 12px 16px -18px rgba(0,0,0,0.75);" name="send"></ion-icon>
    </button>
  </ion-row>

  <ion-row margin class="rowStyle" *ngIf="image">
    <ion-card class="round-corners">
      <img [src]="image" class="round-corners">
    </ion-card>
  </ion-row>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-card *ngFor="let post of posts" style="
 
  border-radius: 10px;
">

    <!-- <ion-item-options  side="right">
      <button
        ion-button
        color='secondary'
        (click)='deleteDocument(post)' 
        >
        <ion-icon name="clipboard"></ion-icon>
        Delete
      </button>
      </ion-item-options> -->
    <ion-item-divider no-lines style="background-color: #077E6C">
      <ion-row style="color: white">
      {{ post.data().owner_name }} Says
      <ion-buttons end>
        
      </ion-buttons>
    </ion-row>

    <button ion-button item-end icon-only clear (click)="deleteDocument(post)" *ngIf="user_identification(post)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item-divider>

    <ion-item text-wrap>
      {{ post.data().text }}
    </ion-item>

    <img [src]="post.data().image" *ngIf="post.data().image">

    <ion-row class="bottom-bar">
      <ion-col>
        <button ion-button block icon-left clear small style="color: #077E6C" class="border-right" (click)="like(post)">
          <ion-icon name="thumbs-up"></ion-icon>
          <small>{{ post.data().likesCount || 0 }} Likes</small>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block icon-left clear small style="color: #077E6C" class="border-right" (click)="comment(post)">
          <ion-icon name="text"></ion-icon>
          <small>{{ post.data().commentsCount || 0 }} Comments</small>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block icon-left style="color: #077E6C" clear small color="dark">
          <small>{{ ago(post.data().created.toDate()) }} ago</small>
        </button>
      </ion-col> 
      
      </ion-row>
     
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>