<ion-header>

  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form
    [formGroup]='form'
    (ngSubmit)='saveDocument(form.value)'>

    <ion-item>
      <ion-label stacked>Name:</ion-label>
      <ion-input
        type='text'
        formControlName='city'
        [(ngModel)]='city'
        clearInput>
      </ion-input>
    </ion-item>

    <ion-item>
       <ion-label stacked>Phone Number:</ion-label>
       <ion-input
          type="number"
          formControlName="population"
          [(ngModel)]="population"
          clearInput></ion-input>
 	  </ion-item>

    <ion-item>
       <ion-label stacked>Email:</ion-label>
       <ion-input
          type="text"
          formControlName="established"
          [(ngModel)]="established"
          clearInput></ion-input>
 	  </ion-item>

 	  <ion-item>
       <button
         ion-button
         block
         color="primary"
         text-center
         padding-top
         padding-bottom
         [disabled]="!form.valid">
          <div *ngIf="!isEditable">
             Add a new document
          </div>

          <div *ngIf="isEditable">
             Update this document
          </div>
          </button>
 	  </ion-item>

  </form>
  
</ion-content>